@charset "EUC-KR";

#con-al{ 
    margin:0 auto;
}

#con_send_submit{
	width: 90%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ff5a58;
    padding: 10px 0px;
    text-transform: uppercase;
    border-radius: 30px;
    box-sizing: border-box !important;
    width: 170px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;	
}

#con_box{	
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}